.main-preview {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  @media (max-width: 576px) {
    background: 0 0;
  }
}
.titles {
  width: 100%;
  position: relative;
  .preview {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    background-color: #161616;
    position: relative;
    @media (max-width: 576px) {
      background: 0 0;
    }
    .image-wrapper {
      position: relative;
      width: 100%;
      .image-container {
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-top: calc(16 / 9 * 100%);
        @media (min-width: 576px) {
          padding-top: calc(9 / 16 * 100%);
        }
        @media (max-width: 576px) {
          z-index: -1;
        }
        @media (min-width: 992px) {
          padding-top: calc(9 / 16 * 100%);
        }
        .background {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    .shadows {
      position: absolute;
      top: 0;
      width: 100%;
      .shadow-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: opacity 0.2s linear;
        background-color: #161616;
        padding-top: calc(16 / 9 * 100%);
        opacity: 0;
        @media (min-width: 576px) {
          padding-top: calc(9 / 16 * 100%);
        }
        @media (max-width: 576px) {
          z-index: -1;
        }
      }
      .shadow-top {
        position: absolute;
        top: 0;
        width: 100%;
        background: linear-gradient(
          180deg,
          #161616 0%,
          rgba(22, 22, 22, 0) 100%
        );
        height: calc(100vw / 2);
        @media (min-width: 576px) {
          height: calc(100vw / (16 / 9 * 3));
        }
        @media (min-width: 992px) {
          height: 100px;
        }
      }
      .shadow-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(
          360deg,
          #161616 0%,
          rgba(22, 22, 22, 0) 100%
        );
        height: calc(100vw / 1.6);
        @media (min-width: 576px) {
          height: calc(100vw / (16 / 9 * 4));
        }
        @media (max-width: 576px) {
          z-index: -1;
        }
        @media (min-width: 992px) {
          height: 140px;
        }
      }
    }
    .action-wrapper {
      @media (max-width: 576px) {
        width: 100%;
        padding-top: calc(16 / 9 * 70%);
      }
    }
    .actions {
      flex-direction: column;
      position: relative;
      display: flex;
      width: 100%;
      padding-top: unset;
      @media (min-width: 576px) {
        padding-top: calc((9 / 16) * 90%);
      }
      .info {
        text-align: center;
        display: inline-block;
        .stream {
          justify-content: center;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
        }
        .meta {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 8px 0;
          .age {
            font-size: 16px;
            border: 1px solid #bdbdbd;
            padding: 2px 6px;
            border-radius: 3px;
          }
          .genre {
            color: #bdbdbd;
            margin-left: 20px;
          }
        }
      }
    }
    // body
    .title-body {
      padding-bottom: 20px;
      .plot,
      .title-info,
      .title-episodes {
        @media (max-width: 576px) {
          padding-left: 14px;
          padding-right: 14px;
        }
        @media (min-width: 768px) {
          padding-left: 20px;
          padding-right: 20px;
        }
        @media (min-width: 992px) {
          padding-left: 26px;
          padding-right: 26px;
        }
        @media (min-width: 1366px) {
          padding-left: 32px;
          padding-right: 32px;
        }
      }
      .title-episodes {
        .episodes-wrapper {
          width: 100%;
          display: grid;
          grid-gap: 1em;
          align-items: stretch;
          justify-items: stretch;
          @media (min-aspect-ratio: 3 / 9) {
            grid-template-columns: repeat(2, 1fr);
          }
          @media (min-aspect-ratio: 7 / 9) {
            grid-template-columns: repeat(3, 1fr);
          }

          .episode {
            margin: 0.1em;
            border-radius: 0.25em;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            min-height: 15em;
            @media (min-aspect-ratio: 3 / 9) {
              flex: 0 0 47%;
              min-height: 17em;
            }
            @media (min-aspect-ratio: 7 / 9) {
              flex: 0 0 31%;
              min-height: 17em;
            }
            a {
              &:hover {
                .thumbnail {
                  .thumbnail-overlay {
                    opacity: 1;
                  }
                }
              }
              .thumbnail {
                border-radius: 3px 3px 0 0;
                overflow: hidden;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-image: linear-gradient(
                    198deg,
                    rgba(0, 0, 0, 0.9) 0,
                    rgba(24, 24, 24, 0.5) 20%,
                    transparent 28%
                  );
                }
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
                .episode-label {
                  position: absolute;
                  top: 5%;
                  right: 5%;
                  white-space: nowrap;
                  span {
                    color: white;
                    font-size: 15px;
                  }
                }
                .thumbnail-overlay {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  opacity: 0;
                  transition: opacity 0.2s ease-in;
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  .anticon {
                    font-size: 40px;
                    color: rgba(255, 255, 255, 0.8);
                  }
                }
              }
            }
            .episode-body {
              background-color: #2f2f2f;
              min-height: 100%;
              padding: 1em;
              margin: 0;
              color: #d2d2d2;
            }
          }
        }
      }
    }
    .title-info {
      padding-left: 14px;
      padding-right: 14px;
      &:not(:first-child) {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .titles-switch {
        margin: 10px 0;
      }
      .title-meta {
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        white-space: nowrap;
        .meta-field {
          display: flex;
          flex-direction: column;
          &:not(:first-child) {
            margin-left: 50px;
          }
          p {
            margin: 0;
            &.meta-title {
              color: #f5f5f1;
            }
            &.meta-subtitle {
              color: #bdbdbd;
            }
          }
        }
      }
    }
  }
}
.rent-modal {
  .rent-info {
    padding-top: 12px;
    text-align: center;
  }
  .qr-placeholder {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    margin: 10px auto;
  }
}
