.auth,
.account,
.invoice {
  width: 100%;
  padding: 80px 64px 32px 64px;
  @media (max-width: 1024px) {
    padding-right: 48px;
    padding-left: 48px;
  }
  @media (max-width: 768px) {
    padding-right: 16px;
    padding-left: 16px;
  }
  .ant-divider {
    margin: 12px 0;
  }
  h5 {
    padding: 16px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
.custom-form {
  .ant-form-item {
    margin: 0;
    padding: 6px 0;
    .ant-input {
      border-radius: 6px;
      font-size: 16px;
      padding: 12px 16px;
    }
    .ant-input-affix-wrapper {
      border-radius: 6px;
      .ant-input {
        padding: 8px 4px;
      }
    }
    .ant-form-item-explain {
      margin: 0 1px;
    }
  }
  .form-action {
    text-align: center;
    .ant-btn-lg {
      border-radius: 6px;
      font-size: 16px;
      height: 48px;
      text-transform: uppercase;
    }
  }
}
