.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.ant-card {
  border-radius: 8px;
}
.app {
  margin-top: 56px;
  min-height: calc(100vh - 56px);
  display: flex;
}
// normalize
.ant-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;

  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
}
.ant-btn:not(.ant-btn-circle) {
  border-radius: 4px;
}
.ant-modal-content {
  border-radius: 8px;
}
html,
body {
  height: unset;
}
body {
  background-color: #161616;
}
