.invoice {
  display: flex;
  .ant-row {
    width: 100%;
  }
  .ant-tabs-ink-bar {
    height: 3px !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .ant-tabs-tab-btn {
    font-size: 14px;
    font-weight: 500;
  }
}
