#stream {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 11;
  background: #000;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
  }
}
.episodes-modal {
  .ant-modal-body {
    .ant-list {
      max-height: 600px;
      overflow-y: auto;
    }
  }
}
