.main {
  .title-group {
    width: 100%;
    margin-bottom: 20px;
    @media (min-width: 992px) {
      margin-top: 10px;
    }
    .group-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 18px;
        font-weight: 500;
        color: #f5f5f1;
      }
      @media (max-width: 576px) {
        padding-left: 14px;
        padding-right: 14px;
      }
      @media (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @media (min-width: 992px) {
        padding-left: 26px;
        padding-right: 26px;
        p {
          font-size: 28px;
        }
      }
      @media (min-width: 1366px) {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
    .title-slider {
      width: 100%;
      position: relative;
      scrollbar-width: none;

      white-space: nowrap;
      display: flex;
      flex-direction: row;
      .slider-padding {
        flex-shrink: 0;
        height: 1px;
        background-color: transparent;
        @media (max-width: 576px) {
          width: 14px;
        }
        @media (min-width: 768px) {
          width: 20px;
        }
        @media (min-width: 992px) {
          width: 26px;
        }
        @media (min-width: 1366px) {
          width: 32px;
        }
      }
      -ms-overflow-style: none;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: 0 0;
      }
    }
  }
}
