#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  background: #141414;
  border-bottom: 1px solid #5f6368;
  &.home {
    background: transparent;
    border-bottom: none;
  }
  &.home.scrolled {
    background: #141414;
    border-bottom: 1px solid #5f6368;
  }
  .ant-row {
    height: 56px;
    flex-flow: nowrap;
    padding: 0 20px;
    h1 {
      margin-bottom: 0;
    }
    .header-row {
      display: flex;
      align-self: center;
      height: 100%;
      .menu-item {
        &:not(:last-child) {
          margin-right: 10px;
        }
        align-items: center;
        display: flex;
        .ant-spin {
          display: flex;
        }
        a {
          .ant-btn {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
      .ant-menu {
        background: transparent;
        border-bottom: none;
      }
      .ant-menu-horizontal > .ant-menu-item,
      #nav.ant-menu-horizontal > .ant-menu-submenu {
        height: 56px;
        line-height: 56px;
        font-size: 16px;
      }
    }
  }
  .logo {
    line-height: 56px;
    .anticon {
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      .anticon {
        transform: scale(1.1);
      }
    }
  }
}
